@import url("https://fonts.googleapis.com/css2?family=Inter&family=Oswald&family=Roboto&display=swap");

html {
  scroll-behavior: smooth;
}

.text-nav {
  font-family: "Inter" !important;
}
.text-banner {
  font-family: "Oswald" !important;
  /* color: white; */
}
.text-detail {
  font-family: "Roboto" !important;
}
.rounded-i {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: rgb(255, 115, 0);
  /* float: right; */
}
.rounded-i2 {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: rgb(255, 115, 0);
  float: right;
}
.bg-teal {
  background-color: #476042 !important;
}

.card {
  border-radius: 20px !important;
  margin-bottom: 3vh;
  border: none;
  padding: 2vh;
}

.imgBottom {
  background-image: url("../images/pexels-zaher-ataba-1940583.jpg");
  background-size: cover;
  /* height: 50vh; */
}

.right-image {
  background-image: url("../images/pexels-luis-quintero-1560303.jpg");
  background-size: cover;
  border-radius: 10px;
}

p {
  font-family: Roboto;
  font-weight: lighter !important;
}

.text-link {
  font-family: Inter;
}

.mb-7 {
  margin-bottom: 5rem!important;
}

.mt-7 {
  margin-top: 5rem!important;
}
